# Cloudinary configuration
CLOUDINARY_CLOUD_NAME= dtpaudyhi
CLOUDINARY_API_KEY= 299549326876632
CLOUDINARY_API_SECRET= KeAfQROvqLMqEfdj3pvrKrrkI

#Database configuration for localhost Server
DB_CONNECTION = mongodb://
DB_HOST = localhost:27017
MONGO_HOST = mongodb+srv:/
DB_NAME = 
DB_USER = 
DB_CLUSTER = 
DB_PASSWORD = 
ENVIROMENT = 